<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link rel="stylesheet" href="feed.css">
    <script src="https://kit.fontawesome.com/1da53a3171.js" crossorigin="anonymous"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="left">
            <img src="/assets/images/logo.png" alt="" width="70" height="70">
            <p>ALR-DOC</p>
        </div>
        <div class="right">
            <i class="fa-solid fa-user"></i>
            <p><%=name%></p>
        </div>
    </nav>
    
    <section class="forum">
        <h1>How to maintain Balanced Diet</h1>
        <div class="top">
            <img src="/assets/images/feed1.jpg" alt="" width="300" height="300">
            <p>&nbsp&nbsp&nbspLorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi doloribus veniam commodi iure obcaecati, iste rerum ut. Obcaecati odio dignissimos quae quidem, quia error explicabo dolore voluptatibus aliquam fugiat debitis ducimus officiis minus dolores excepturi quod iusto expedita doloribus et sunt illum nisi itaque? Sit eius quaerat beatae neque sunt ipsam? At incidunt inventore accusantium. Non deleniti sit totam! Itaque sapiente ipsa tenetur ad, enim impedit sit doloremque, dolorum commodi ipsam incidunt fugit, hic nisi dolor nostrum voluptatum corrupti amet! Autem aliquam in quia maxime incidunt mollitia consequatur excepturi dolore enim? Dignissimos illum voluptates temporibus cum placeat, omnis culpa. Voluptatum!</p>
        </div>
        <p value="desc">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi doloribus veniam commodi iure obcaecati, iste rerum ut. Obcaecati odio dignissimos quae quidem, quia error explicabo dolore voluptatibus aliquam fugiat debitis ducimus officiis minus dolores excepturi quod iusto expedita doloribus et sunt illum nisi itaque? Sit eius quaerat beatae neque sunt ipsam? At incidunt inventore accusantium. Non deleniti sit totam! Itaque sapiente ipsa tenetur ad, enim impedit sit doloremque, dolorum commodi ipsam incidunt fugit, hic nisi dolor nostrum voluptatum corrupti amet! Autem aliquam in quia maxime incidunt mollitia consequatur excepturi dolore enim? Dignissimos illum voluptates temporibus cum placeat, omnis culpa. Voluptatum!</p>
    </section>
    <section class="forum">
        <h1>Food Nutrition</h1>
        <div class="top">
            <img src="/assets/images/feed2.jpg" alt="" width="300" height="300">
            <p>&nbsp&nbsp&nbspLorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi doloribus veniam commodi iure obcaecati, iste rerum ut. Obcaecati odio dignissimos quae quidem, quia error explicabo dolore voluptatibus aliquam fugiat debitis ducimus officiis minus dolores excepturi quod iusto expedita doloribus et sunt illum nisi itaque? Sit eius quaerat beatae neque sunt ipsam? At incidunt inventore accusantium. Non deleniti sit totam! Itaque sapiente ipsa tenetur ad, enim impedit sit doloremque, dolorum commodi ipsam incidunt fugit, hic nisi dolor nostrum voluptatum corrupti amet! Autem aliquam in quia maxime incidunt mollitia consequatur excepturi dolore enim? Dignissimos illum voluptates temporibus cum placeat, omnis culpa. Voluptatum!</p>
        </div>
        <p value="desc">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi doloribus veniam commodi iure obcaecati, iste rerum ut. Obcaecati odio dignissimos quae quidem, quia error explicabo dolore voluptatibus aliquam fugiat debitis ducimus officiis minus dolores excepturi quod iusto expedita doloribus et sunt illum nisi itaque? Sit eius quaerat beatae neque sunt ipsam? At incidunt inventore accusantium. Non deleniti sit totam! Itaque sapiente ipsa tenetur ad, enim impedit sit doloremque, dolorum commodi ipsam incidunt fugit, hic nisi dolor nostrum voluptatum corrupti amet! Autem aliquam in quia maxime incidunt mollitia consequatur excepturi dolore enim? Dignissimos illum voluptates temporibus cum placeat, omnis culpa. Voluptatum!</p>
    </section>
   
</body>
</html>